*
{
  font-family: 'Nunito Sans';
  margin: 0;
  padding: 0;
}

.repas
{
  border: #21B271 5px solid;
  border-radius: 1000px;
  width: 33%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  padding-top: 45px;
  padding-bottom: 45px;
  padding-left: 48px;
  padding-right: 48px;
}

.subtitle
{
  font-size: 15px;
  color: #707070;
  text-align: center;
  width: 100%;
}

.title
{
  font-size: 25px;
  color: #000000;
  text-align: center;
  margin-top: 10px;
  width: 100%;
}

.composition
{
  font-size: 15px;
  color: #707070;
  text-align: center;
  margin-top: 20px;
  width: 100%;
}
